<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
</head>
<body>
<h3> Am I Worthy enough for Worthy Challenge <h3>
<form method="GET" action="/index">



<label for="name">Carat</label> &nbsp; <input name="carat" type="text" value="0.5" /> <br /> 

<label for="name">Cut</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select name="cut">
<option selected="selected" value="Round">Round</option>
<option value="Princess">Princess</option>
<option value="Cushion">Cushion</option>
<option value="Marquise">Marquise</option>
<option value="Emerald">Emerald</option>
</select><br /> 

<label for="name">Color</label> &nbsp;&nbsp;
<select name="color">
<option selected="selected" value="D">D</option>
<option value="E">E</option>
<option value="F">F</option>
<option value="G">G</option>
<option value="H">H</option>
<option value="I">I</option>
<option value="J">J</option>
<option value="K">K</option>
<option value="L">L</option>
<option value="MTZ">M-Z</option>
<option value="Fancy">Fancy</option>
</select><br /> 

<label for="name">Clarity</label> &nbsp;
<select name="clarity">
<option selected="selected" value="FL">FL</option>
<option value="IF">IF</option>
  <option value="VVS1">VVS1</option>
  <option value="VVS2">VVS2</option>
  <option value="VS1">VS1</option>
  <option value="VS2">VS2</option>
  <option value="SI1">SI1</option>
  <option value="SI2">SI2</option>
  <option value="I1">I1</option>
  <option value="I2">I2</option>
  <option value="I3">I3</option>
</select>
<br/>


<button value="Submit" type="submit"">Calculate Price</button>


</form>  
</body>
</html>
